.issue-details-container {
	padding: 1em;
	
	&.loading-error {
		font-size: 3em;

		.error-icon {
			color: #FF0000;
		}
	}

	.issue-header {
		position: relative;
	}

	.issue-title {
		text-align: center;
	}

	.issue-actions {
		position: absolute;
		top: 0;
		right: 0;

		a {
			&,
			&:hover,
			&:link,
			&:active,
			&:visited {
				text-decoration: none;
			}

			&:hover {
				font-weight: bold;
			}
		}
	}
}
